# Required by Firebase for Python functions
firebase-functions>=0.2.0

# Required to make HTTP requests (to GitHub API)
requests==2.*

# Required to call the Gemini API via Vertex AI
google-cloud-aiplatform==1.*
